body {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

#logo {
    height: 3%;
    width: 3%
}

.filter-menu {
    position: fixed;
    top: 8%;
    left: 2%;
    margin-right: 5%;
}

.TaskDesc {
    display: inline-block;
    width: 40%;
}

.Tasks {
    padding-top: 5%;
    padding-left: 20%;
}

li {
    list-style-type: none;
}

#navbar-top {
    position: fixed;
    width: 100%;
}

.addToDo {
    position: fixed;
    top: 8%;
    right: 8%;
    float: right;
    width: 20%;
}

#descForm, #searchForm, #dateForm {
    display: inline-flex;
    margin-right: 5px;
}

#searchForm {
    width: 70%;
}

#descForm {
    margin-bottom: 10px;
}

#dateForm {
    margin-bottom: 15px;
}